/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

/* Estilos de las pestañas */
.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
}

.active {
    border-bottom: 2px solid #007bff;
    color: #007bff;
}

/* Estilos de los formularios */
form {
    display: none;
}

h2 {
    font-size: 18px;
    margin-top: 10px;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.separator {
    text-align: center;
    font-weight: bold;
    color: #777;
    margin: 20px 0;
}
