* {
    margin: 0;
}
.task {
    display: flex;  
    background-color: red;
    height: 100px;
}

footer > div {
    background-color: black;
}

footer > div > .read {
    color: green ;
}

.main { 
    margin: 0;
    padding: 0, 0;
}